<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Цитаты дня</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Quotes App</a>
    </nav>

    <div class="container mt-5">
        <h1 class="text-center mb-4">Случайные цитаты на каждый день</h1>

        <form method="POST" class="text-center">
            <button type="submit" class="btn btn-primary">Получить цитаты</button>
        </form>

        {% if quotes %}
            <div class="row mt-4">
                {% for key, (quote_text, author) in quotes.items() %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Цитата {{ key }}:</h2>
                                <p class="card-text">{{ quote_text }}</p>
                                <p class="card-text"><strong>{{ author }}</strong></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>