{% extends "base.html" %}

{% block title %}
    О нас
{% endblock %}

{% block style %}
    <style>
        .row {
            row-gap: 3rem
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <span class="text-center h2 fs-1 mt-5" style="background-color: #ADD8E6; font-family: 'Gabriola'; margin-bottom: 5rem">
                Кто мы
            </span>
        </div>
        <div class="row">
            <p class="p-5">
                "Мир фэнтези" был создан группой энтузиастов, объединенных общей любовью к фэнтези-жанру. Наши основатели — писатели, художники и поклонники фэнтези, которые хотели создать пространство, где каждый может найти вдохновение и поделиться своими историями. Мы верим, что волшебство существует в каждом из нас, и наша цель — помочь вам открыть его. Присоединяйтесь к нашему сообществу и станьте частью этой увлекательной и магической вселенной!
            </p>
        </div>
        <hr>
        <div class="row">
            <p class="p-5">
                Мы всегда рады общению с нашими читателями! Если у вас есть вопросы, предложения или вы хотите поделиться своими историями, свяжитесь с нами:
                <br>
                <ul class="p-5">
                    <li>Электронная почта: info@fantasyworld.com</li>
                    <li>Телефон: +123 456 7890</li>
                    <li>Адрес: ул. Волшебная, д. 789, г. ВашГород</li>
                </ul>
            </p>
        </div>
    </div>
{% endblock %}